@tailwind base;
@tailwind components;
@tailwind utilities;


/*
  SKIP TO CONTENT
  -----------------------------------------------------
*/

.skip-to-content {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  clip: rect(1px,1px,1px,1px);
}

.skip-to-content:focus {
  width: auto;
  height: auto;
  clip: auto;
}


.responsive-video {
  position: relative;
  padding-top: 56.25%;
}


/*
  VIDEO CAROUSEL
  -----------------------------------------------------
*/

.video-list-item a {
  padding: 16px;
}

.video-player-wrapper {
  position: relative;
}

@media only screen and (max-width: 1174px) {
  .video-list {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .video-list-item {
    width: 180px;
    min-width: 180px;
    margin-right: 24px;
  }

  .video-list-item-thumbnail {
    overflow: hidden;
    width: 100%;
    height: 100px;
  }

  .video-list-item-thumbnail svg {
    width: 65%;
    height: 65%;
  }

  .video-list-item-thumbnail img {
    width: 100%;
  }
}

@media only screen and (min-width: 1175px) {
  .video-carousel {
    display: flex;
  }

  .video-player-wrapper {
    width: 60%;
  }

  .video-list {
    width: 36%;
    padding-left: 4%;
    overflow: auto;
  }

  .video-list-item a {
    display: flex;
  }

  .video-list-item-thumbnail {
    flex-shrink: 0;
    width: 100px;
    height: 56px;
    margin-right: 12px;
  }

  .video-list-item-thumbnail img {
    width: 100%;
  }

  .video-list-item-thumbnail svg {
    width: 65%;
    height: 65%;
  }
}


/*
  GLOBAL HUBSPOT OVERRIDE
  -----------------------------------------------------
*/

.app-form {
  max-width: 700px;
  margin: 0 auto;
}

.app-form .progress-bar {
  margin-bottom: 1rem;
}

.app-form .steps,
.app-form .currentStep {
  margin-left: 1rem;
}

.app-form .hs-form fieldset {
  max-width: 100% !important;
}

.app-form .hs-form-field {
  margin-bottom: 1.5rem;
}

.app-form .inputs-list input {
  margin-right: 0.5rem;
}

.app-form textarea.hs-input {
  width: 100%;
}

